body {
  font-family: sans-serif;
}
  
  .title{
    font-family: fantasy;
    background-image: url(background.jpg);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    color: wheat;
    margin: unset;
  }

  .nav {
    display: flex;
    align-items: center;
    height: 15vh;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    background-color: #462c03;
    font-family: unset;
    font-size: 25px;
  }

  .content{
    background-image: url(bodyBack3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .link{
    text-decoration: none;
    color: #b5a254;
    font-size: 20px;
  }
  .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: blue;
    font-family: -webkit-pictograph;
  }

  .text-color1{
    color: #735313;
    font-family: -webkit-pictograph;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }

  .text-color2{
    color: #735313;
    font-family: -webkit-pictograph;
    font-size: 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: right;
    margin: 20px;
  }

  .Search-box{
    margin: 50px;
    display: -webkit-inline-box;
    background-color: #827a79;
    border-style: outset;
  }

  .image{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    border-radius: 4px;
    width: 800px;
    height: 200px;
    justify-content: center;
    align-items: center;
    width: calc(100% - 90px);
  }

  .text{
    margin: 30px;
    color: #7d796f;
    margin-left: 150px;
    margin-right: 150px;
  }

  .slogan{
    margin: 30px;
    color: #7d796f;
    display: flex;
    text-align: right;
  }
  .sortclass{
    border-radius: 4px;
    width: 150px;
    height: 40px;
    float: right;
    margin: 15px;
    font-size: 18px;
    font-family: -webkit-pictograph;
    justify-content: right;
  }

  .display{
    display: flex;
    justify-content: space-between;
  }

  .appointment{
    background-color: #73605a;
    margin: 20px;
    color: #07464e
  }

  .h1 {
    color: #a2073e;
  }

  .button{
    height: 100px;
    width: 200px;
    color: grey;
    background-color: light pink;
    font-size: 24px;
    margin-bottom: 20px;
    font-family: "Georgia";
    border-radius: 4px;
    margin-top: 100px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 25px;
  }

  .button:hover {
    background-color: pink;
    color: light pink;
  }